<li class="post-item">
  <div class="post-title">
    <h3>
      <% if (post.link || post.title){ %>
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
      <% } %>
    </h3>
  </div>
  <div class="post-meta">
    <div class="post-time">
      <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
        <%= date(post.date, null) %>
      </time>
      <span class="divider">/</span>
      <% if (post.categories.length > 0) { %>
      Posted in
      <%- list_categories(post.categories, {
        show_count: false,
        class: 'post-cat',
        style: 'none',
        separator: ', '
      }) %>
      <% } else { %>
      Uncategorized
      <% } %>
    </div>
  </div>

  <div class="post-excerpt">
    <% if (post.excerpt) { %>
      <%- post.excerpt %>
    <% } else { %>
      <%- post.content %>
    <% } %>

    <div class="post-tools clearfix">
      <a href="<%- url_for(post.path) %>" class="right artifact_btn sm read-more">
        <span class="icon icon-eye"></span>
        <span class="text">Read More</span>
      </a>
    </div>
  </div>

  <div class="post-tags">
    <span class="icon-tag icon"></span>
    <% if (post.tags.length > 0) {  %>
    <%- list_tags(post.tags, {
      show_count: false,
      style: 'none',
      class: 'post-tag',
      separator: ', '
    }) %>
    <% } else { %>
    <span class="no-tag">tagless</span>
    <% } %>
  </div>
  <div class="post-image">
    <% if (post.image) { %>
      <a href="<%- url_for(post.path) %>">
        <img src="<%= post.image %>" />
      </a>
    <% } %>
  </div>
</li>
